@import url(media/navbar-media.css);
@import url(media/mobile-top-menu.css);
@import url(media/top-banner-media.css);
@import url(media/services-media.css);
@import url(media/downloadpril-media.css);
@import url(media/services-providers-media.css);
/*@media (max-width: 1199px) {


}*/
@media (max-width: 768px) {
    .reg-span:before {
        display: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .bbd {
        border-bottom: none;
    }
/*    .navbar-nav {
        padding-top: 40px;
    }
    .nav-item {
        align-self: flex-start;
        margin-bottom: 30px;
    }
    .nav-item a {
        font-size: 17px;
        font-weight: bold;
    }
    .navbar-brand {
        display: block;
        position: absolute;
        top: 1px;
        left: 34%;
    }*/



}

